body{
    background-color: hsla(359, 77.1084%, 87.4510%, 1.0000);
}

@font-face {
	font-family: 'Vaud Display Light';
	src: url('../webfonts/vaud-display-light.eot');
	src: url('../webfonts/vaud-display-light.eot?#iefix') format('embedded-opentype'),
	     url('../webfonts/vaud-display-light.woff') format('woff'),
	     url('../webfonts/vaud-display-light.ttf') format('truetype'),
	     url('../webfonts/vaud-display-light.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.main{
    font-family: 'Vaud Display Light', Helvetica, Arial, Sans-Serif;
    width: 960px;
    height: 600px;
    margin: auto;

    background-color: hsla(359, 77.1084%, 87.4510%, 1.0000);
    background-image: -moz-linear-gradient(hsla(0, 79.2079%, 60.3922%, 1.0000), hsla(359, 77.1084%, 67.4510%, 1.0000));

    font-size: 1.2em;
}

.header-line{
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    height: 80px;


}

.grid_1of4 {
    line-height: 80px;
    height: 100%;
    width: 30%;
    float: left;
}

.grid_1of3 {
    height: 100%;
    width: 33.33%;
    float: left;
}

.order-line {
    line-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    height: 80px;
    text-align: center;
}

.order-line.expanded{
    padding-top: 40px;
}