{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<link href="{% static "css/stylesheet.css" %}" type="text/css" rel="stylesheet" />
    <title>
        {% block title %}
            QMenu
        {% endblock %}
    </title>

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}
</head>
<body >

{% block content %}
    Empty Page
{% endblock %}

<p><a href="{% url "place.views.landing" %}">home</a></p>

</body>
</html>