{% extends "place/base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="{% static "js/scripts.js" %}"></script>
{% endblock %}

{% block title %}
    menu for {{ place }}
{% endblock %}

{% block content %}



<form action="" method="post">
    {% csrf_token  %}
    <table class="menu">
        <!-- header -->
        <tr>
            <th scope="col">
                item
            </th>
            <th scope="col">
                price
            </th>
        </tr>

{% for menuitem in menu.menuitem_set.all %}
    <tr>
        <td class="menuitem">{{ menuitem.name }}</td>
        <td class="f">{{ menuitem.price }}
            <input class="amount" type="text" name="{{ menuitem.name }}_amount" maxlength="2" value="0"/>
            <button class="add_button">+</button><button class="decr_button">-</button></td>

    </tr>
{% endfor   %}
 </table>
        <input type="submit" name="bestel" value="Bestellen"  />
    </form>


{% endblock %}