{% extends "place/base.html" %}
{% load static %}

{% block scripts %}

        <script src="{% static "js/orderscripts.js" %}"></script>
{% endblock %}

{% block content %}
    {% for order in orders %}
       <div class="order_table"><p>Table number {{ order.table.table_nr }}</p>
       <div class="hidden id">{{ order.pk }}</div>
            <ul>
            {% for name, amount in order.get_menuitems_amounts %}
                <li>  {{ amount }} x {{ name }} </li>

            {% endfor %}
            <button class="delete">delete</button>
            </ul>
       </div>
    {% empty %}
        No Orders, go smoke a sigaret
    {% endfor %}

{% endblock %}