Django==1.6.1
PIL==1.1.7
argparse==1.2.1
coverage==3.6
distribute==0.6.32
dj-database-url==0.2.2
dj-static==0.0.5
django-admin-bootstrapped==1.6.4
django-bootstrap-toolkit==2.15.0
django-bootstrap3==2.5.0
django-debug-toolbar==0.11.0
django-qrcode==0.3
django-toolbelt==0.0.1
djangorestframework==2.3.10
docutils==0.11
gunicorn==18.0
psycopg2==2.5.1
pystache==0.5.3
sqlparse==0.1.10
static==1.0.2
wsgiref==0.1.2
