{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zinq</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div hidden="" id="table_uuid">{{ table_uuid }}</div>

<div id="product-overview">
    <div id="items">
        {% for cat, menu_items in cat_menu_items.items %}
            <h2 data-clicked="false">{{ cat }}<span class="arrow-down"></span></h2>
            {% for mi in menu_items %}
                <div class="product" data-id={{ mi.pk }}>
                <div class="product-top" data-clicked="">
                        <h3>{{ mi.name }}
                            <span class="grey">{{ mi.name }}</span></h3>

                        <div class="price" data-price="{{ mi.price }}">€ {{ mi.price }}</div>
                    </div>
                    <div class="product-bottom">
                        <div class="amount-wrapper">
                            <span class="amount">0</span>
                            <a href="#" class="plus">+</a>
                            <a href="#" class="min">-</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                Lege category
            {% endfor %}
        {% empty %}
            <div>Geen items in dit menu</div>
        {% endfor %}
    </div>
    <div id="basket">
        <span id="items-counter">0</span> items
        <a href="#" id="order">Bestellen <span class="arrow-right"></span></a>
    </div>
</div>
<div id="basket-overview">
    <div id="header">
        Uw bestelling:
        <div id="header-right">
            <span id="header-items">0</span> items
        </div>
    </div>

    <div id="total">
        Totaal <span id="total-amount">€ 0</span>
    </div>

    <a href="#" id="back"><span class="arrow-left"></span> Terug naar menu</a>
    <a href="#" id="confirm">Bevestig bestelling</a>
</div>

<script src="{% static 'js/jquery-1.11.1.js' %}"></script>
<script src="{% static "js/menu.js" %}"></script>
</body>
</html>