{% extends "place/base.html" %}

{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static "js/menuscripts.js" %}"></script>
{% endblock %}

{% block title %}
    menu for {{ place }}
{% endblock %}


{% block content %}


<div class="container">
<div class="row">
<div class="span4"></div>
<div class="span4">
    <h3>menu for {{ place | capfirst }} </h3>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form layout="vertical" %}

        <table class="table-striped">
        <caption>Place an order</caption>
            <!-- header -->
        <trhead>
            <tr>
                <th scope="col">
                    item
                </th>
                <th scope="col">
                    price
                </th>
                <th scope="col">
                    amount
                </th>
                <th scope="col">

                </th>
                <th scope="col">

                </th>
                <th scope="col">

                </th>
            </tr>
        </trhead>
        <tbody>

            {% for menuitem in menu.menuitem_set.all %}
                <tr>
                    <td class="menuitem">{{ menuitem.name }}</td>
                    <td class="f">{{ menuitem.price }} </td>
                    <td class="amount">
                        <input class="amount input-mini uneditable-input" type="text" name="{{ menuitem.name }}_amount"
                            value="0"/></td>

                    <td><span></span></td>
                    <td class="button">
                        <button class="add_button">+</button>
                    </td>

                    <td class="button">
                        <button class="decr_button">-</button>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
        </table>
        <div class="form-actions">
            <input type="submit" name="bestel" value="Bestellen" class="btn btn-primary btn-large"/>
        </div>

    </form>
</div> <!-- span -->
<div class="span4"></div>
</div> <!-- row -->
</div> <!-- container -->

{% endblock %}