{% extends "places/base.html" %}
{% load bootstrap_toolkit %}
{% load static %}

{% block stylesheets %}

{% endblock %}

{% block content %}

        <a href="{% url "menus.views.menu" "123456" %}">
            <h2>Invalid menu</h2></a>
        <h2><a href="{% url "menus.views.menu" "e391729ac7504a878d24fabc2782d789" %}">
        Menu for Barbar Palace
        </a></h2>

        <h2><a href=/orders/1>
            Orders for Barbar Palace
        </a></h2>

        <h2><a href="{% url "places.views.qr_codes" 1 %}">
            QR codes for Barbar Palace
        </a></h2>

        <h2><a href="admin">Admin page </a></h2>

 
{% endblock %}
