{% extends "places/base.html" %}
{% load bootstrap_toolkit %}
{% load static %}

{% block stylesheets %}

{% endblock %}

{% block content %}

        <a href="{% url "menus.views.menu" "123456" %}">
            <h2>Ongeldig menu</h2></a>
        <h2><a href="{% url "menus.views.menu" table_uuid %}">
        Test Menu
        </a></h2>

        <h2><a href=/orders/1>Bestellingen
        </a></h2>

        <h2><a href="{% url "places.views.qr_codes" 1 %}">
            QR codes
        </a></h2>

        <h2><a href="admin">Admin pagina </a></h2>

 
{% endblock %}
