{% load staticfiles %}
<!DOCTYPE html>
<html style="margin: 0px; height: 100%;">
<head>
    <title>waiting for order</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div hidden id="order_uuid">{{ order_uuid }}</div>
<div id="order-container">
<table class="wait-for-order">
    <tr id="wait-for-order-title">
        <td>Uw bestelling<br>wordt verwerkt...</td>
    </tr>
    <tr id="wait-for-order-icon">
        <td><img height="100%" name="E" id="E-clock" src="{% static "img/clock.svg" %}"/></td>
    </tr>
    <tr id="done-order-icon">
        <td>
            <img height="100%" name="E" id="E-smiley" src="{% static "img/smiley.svg" %}"/>
        </td>
    </tr>
    <tr>
        <td id="wait-for-order-bottom">
            <span style="display: inline-block; vertical-align: middle;height: 200px">Even geduld a.u.b.</span>
        </td>
    </tr>
</table>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{% static "js/wait_script.js" %}"></script>
</body>

</html>