{% load staticfiles %}
<!DOCTYPE html>
<html style="margin: 0px; height: 100%;">
<head>
    <title>waiting for order</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body class="wait-for-order" style="height:100%">
<div hidden id="order_uuid">{{ order_uuid }}</div>
<div id="wait-for-order-title">Uw bestelling <br>wordt verwerkt...</div>
<div id="wait-for-order-icon">
    <img height="100%" name="E" id="E-clock" src="{% static "img/clock.svg" %}"/>
</div>
<div id="done-order-icon" hidden>
    <img height="100%" name="E" id="E-smiley" src="{% static "img/smiley.svg" %}"/>
</div>

<div id="wait-for-order-bottom">
    <span style="display: inline-block; vertical-align: middle;height: 200px">Even geduld a.u.b.</span>
</div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static "js/wait_script.js" %}"></script>
</body>

</html>