{% load bootstrap_toolkit %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

    <title>
        {% block title %}
            QMenu
        {% endblock %}
    </title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

    {% block scripts %} {% endblock %}

    {% block stylesheets %}  {% endblock %}

    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    {% bootstrap_javascript_tag %}

 <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" >
    {% block extra_head %}{% endblock %}
</head>
<body>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p>
    <hr>
    </p>

    <footer>
        <div >
            <p><a href="{% url "places.views.landing" %}">home</a>
                {% if user.is_authenticated %}
                    <div>Welcome, {{ user.username }}, <a
                            href="{% url "qmenu.views.auth_logout" %}">logout</a> </div>
                {% endif %}
            </p>
        </div>
        <div >
            <p>

            </p>
        </div>
    </footer>

</div>
<!-- container -->


</body>
</html>