{% load staticfiles %}


{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<h1>Landing page</h1>
<h3>some links</h3>
<ul>
    <li><a href="{% url "places.views.menu" "123456" %}">
        invalid menu
    </a></li>
    <li><a href="{% url "places.views.menu" "81447b7d78914a42b91133cb727aa706" %}">
        menu for speyker
    </a></li>
    <li><a href="{%  url "places.views.orders" 1 %}" >
        orders for speyker
    </a></li>

    <!-- ready made stuff -->
    <li><a href="admin">admin page </a></li>

</ul>
{% endblock %}
