{% load staticfiles %}

{% load bootstrap_toolkit %}
{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}
{% bootstrap_javascript_tag %}

<!DOCTYPE html>
<html>

<head>
    <title> menu for {{ place }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span4">
            <h3>menu for {{ place | capfirst }} </h3>

            <form action="" method="post" class="form">
                {% csrf_token %}

                <table class="table-striped">
                    <caption>Place an order</caption>
                    <!-- header -->
                    <trhead>
                        <tr>
                            <th scope="col">
                                item
                            </th>
                            <th scope="col">
                                price
                            </th>
                            <th scope="col">
                                amount
                            </th>
                            <th scope="col">

                            </th>
                            <th scope="col">

                            </th>
                            <th scope="col">

                            </th>
                        </tr>
                    </trhead>
                    <tbody>

                    {% for menuitem in menu.menuitem_set.all %}
                        <tr>
                            <td class="menuitem">{{ menuitem.name }}</td>
                            <td class="f">{{ menuitem.price }} </td>
                            <td class="amount">
                                <input class="amount input-mini uneditable-input" type="text"
                                       name="{{ menuitem.name }}_amount"
                                       value="0"/></td>

                            <td><span></span></td>
                            <td class="button">
                                <button class="add_button">+</button>
                            </td>

                            <td class="button">
                                <button class="decr_button">-</button>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                    <button value="Bestellen" class="btn btn-primary">{% bootstrap_icon "star" %} Bestel</button>


            </form>
        </div>
        <!-- span -->
        <div class="span4"></div>
    </div>
    <!-- row -->
</div> <!-- container -->

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="{% static "js/menuscripts.js" %}"></script>
</body>

</html>