{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders for {{ place.name }}</title>
    <link href="{% static "css/order_style.css" %}" rel="stylesheet">
</head>
<body>

<div class="main">
    <div class="header-line">
        <div class="grid_1of4">Bestelling</div>
        <div class="grid_1of4">Tafel</div>
        <div class="grid_1of4">Tijd</div>
    </div>

    <div class="order-wrapper">
        <div class="order-line-wrapper hidden" data-uuid="" id="template"
             data-seconds="0" style="display: none">
            <div class="order-line summary">
                <div class="grid_1of4"></div>
                <div class="grid_1of4 table"></div>
                <div class="grid_1of4 time">0:00</div>
                <div class="3bars-icon">
                    <img height="100%" name="3bars" class="3bars" src="{% static "img/3bars.svg" %}"/>
                </div>
            </div>

            <div class="order-line expanded">
                <hr width="80%"/>
                <div class="order-item-wrapper">
                    <div class="grid_3of3 order-item" id="template">
                        <div class="grid_1of4 order-item amount"></div>
                        <div class="grid_1of4 order-item description"></div>
                        <div class="grid_1of4 order-item price"></div>
                    </div>
                </div>
                <div class="total">Totaal <span class="total-amount"></span></div>

                <div class="buttons">
                    <button class="cancel_button">Annuleer</button>
                    <button class="ready_button">Klaar</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{% static "js/order_script.js" %}"></script>
</html>