{# This view shows a list of QR codes for a given places #}
{% extends "places/base.html" %}
{% load qr_tags %}

{% block title %}
    Qr Codes for {{ place_name }}
{% endblock %}

{% block content %}
    <h2>Qr codes for {{ place_name }} </h2>

    {% if table_qr_list %}

        {% for table_uuid in table_qr_list %}
            <p><a href="{{ table_uuid }}">{{ table_uuid }}</a> </p>
            {% qr_from_text table_uuid %}
        {% endfor %}

        <p><a href="{{ place_orders }}">{{ place_orders }}</a></p>
        {% qr_from_text place_orders %}

    {% else %}
        No tables for this place
    {% endif %}

{% endblock %}