{% extends "places/base.html" %}
{% load staticfiles %}

{% load bootstrap_toolkit %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "js/menuscripts.js" %}"></script>
{% endblock %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}

    <h1>Lorem blablah</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id mauris sed erat ultricies euismod. Donec
        feugiat
        aliquam magna, in luctus mauris pulvinar id. Nulla fringilla augue a nibh tincidunt ornare. Donec eget semper
        ligula, porta malesuada lectus. Integer porta ante risus, euismod elementum orci vulputate vehicula. Proin id
        felis
        et nisl consequat porttitor eget non nunc. Fusce luctus leo at lacus posuere sagittis. Ut a orci vel nisl
        consequat
        ultrices in eu turpis. Proin nec euismod odio.</p>

    <p>Integer eu porttitor massa. Fusce facilisis lorem ipsum, in porttitor ipsum auctor non. Morbi consequat tellus in
        nisi feugiat, nec egestas lorem sodales. Integer eget imperdiet enim. Class aptent taciti sociosqu ad litora
        torquent per conubia nostra, per inceptos himenaeos. Aliquam auctor neque nec nisi mollis porta. Mauris
        elementum,
        nisl non aliquam mollis, justo ante dapibus dui, eget pharetra erat erat vitae nibh. Integer dolor nibh, rhoncus
        in
        sollicitudin vitae, euismod eu arcu.</p>

    <p>Integer dictum elit ac tellus fringilla, eu imperdiet lorem faucibus. Aenean vulputate libero suscipit nulla
        egestas
        posuere. Morbi sit amet enim sed ligula porta scelerisque luctus vel risus. Vestibulum in risus eros. Sed nisl
        nunc,
        faucibus nec hendrerit blandit, porttitor vitae arcu. Ut semper mi quis enim pretium tincidunt. Suspendisse eget
        luctus nulla.</p>

    <p>Praesent faucibus ut magna vel fermentum. Donec ac tortor cursus, euismod justo non, dictum nulla. Phasellus
        pellentesque nisl ac dolor aliquet, id feugiat nisi bibendum. Integer at neque vel dui imperdiet malesuada quis
        ut
        ligula. Mauris molestie massa vel odio dictum commodo. Duis congue congue diam quis lobortis. Fusce ut tellus
        congue, molestie nisl a, egestas turpis. In bibendum pulvinar enim id venenatis. Mauris tellus enim, tincidunt
        sit
        amet feugiat in, tempus sit amet turpis. Morbi neque nibh, vulputate eu dui ac, volutpat rhoncus lacus. Nulla
        quis
        facilisis augue. In hac habitasse platea dictumst. Etiam nec libero quis augue tincidunt posuere. Aenean at
        egestas
        risus. Vestibulum porta laoreet urna sit amet ultricies. Sed quis mauris orci.</p>

    <p>Suspendisse vulputate egestas ligula et vestibulum. Phasellus eros nisi, iaculis in rutrum eget, sollicitudin eu
        leo. Cras interdum diam in sem mollis sodales. Mauris tempor congue augue, a adipiscing mi ornare volutpat. Sed
        imperdiet pretium nisl vel viverra. Morbi at odio accumsan, porttitor tellus vel, rutrum leo. Ut vel auctor
        felis.
        Morbi quis metus dolor. Nulla convallis tincidunt magna nec porttitor. Donec vehicula dapibus turpis, eu
        pellentesque ipsum iaculis at. Cras sit amet fringilla risus, vitae laoreet sem. Suspendisse eu mattis velit.
        Maecenas vitae laoreet nunc, laoreet tincidunt lectus. Phasellus interdum quis velit a condimentum. Nullam
        luctus
        tempor tempor.</p>

    <

{% endblock %}