html {
    font-family: 'Vaud Display Light', Helvetica, Arial, Sans-Serif;
}

.section{
    text-align: center;
}

.slide {
    text-align: center;
}

#section-home {
    background: -webkit-gradient(linear, top left, bottom left, from(#EA4A4A), to(#EB5556));
	background: -webkit-linear-gradient(#EA4A4A, #EB5556);
	background: linear-gradient(#EA4A4A,#EB5556);
}

#section-demo{
    background: -webkit-gradient(linear, top left, bottom left, from(#EB5556), to(#EC6062));
	background: -webkit-linear-gradient(#EB5556, #EC6062);
	background: linear-gradient(#EB5556,#EC6062);
}

#section-contact {
    background: -webkit-gradient(linear, top left, bottom left, from(#EC6062), to(#EC6C6E));
	background: -webkit-linear-gradient(#EC6062, #EC6C6E);
	background: linear-gradient(#EC6062,#EC6C6E);
}